<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/head"></div>
    <title>Opret Reservation</title>
</head>
<body>
<div sec:authorize="hasRole('ADMIN')" th:replace="fragments/navbar_owner"></div>
<div sec:authorize="hasRole('LEAD')" th:replace="fragments/navbar_lead"></div>
<div sec:authorize="hasRole('SALES')" th:replace="fragments/navbar_employee"></div>

<div class="container">
    <br>
    <h1>Opret ny reservation</h1>
    <br>
    <form action="/reservation/create" method="post">
        <div class="form-group">
            <label for="user_name"><b>Kunde ID</b></label>
            <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Indtast Kunde brugernavn" pattern="[A-Za-zæøåÆØÅöÖäÄüÜß0-9_-]+" required>
        </div>
        <div class="form-group">
            <label for="brand_model"><b>Mærke og model</b></label>
            <select id="brand_model" name="brand_model" required>
                <!-- Drop down menu of all brands + models -->
                <option value="" selected hidden>Vælg autocamper</option>
                <option th:each="brand_model : ${brand_model}" th:value="${brand_model}" th:text="${brand_model}"}></option>
            </select>
        </div>
        <div class="form-group">
            <label for="season"><b>Lokation</b></label>
            <select id="season" name="season" required>
                <option value="" selected hidden>Vælg en sæson</option>
                <option value="Højsæson">Højsæson</option>
                <option value="Midtsæson">Midtsæson</option>
                <option value="Lavsæson">Lavsæson</option>
            </select>
        </div>
        <div class="form-group">
            <label for="location"><b>Lokation</b></label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Indtast lokation" pattern="[a-zA-ZæøåÆØÅöÖäÄüÜß0-9 ,.'-]+" required>
        </div>
        <div class="form-group">
            <label for="pickup_date"><b>Pick-up dato</b></label>
            <input type="date" class="form-control" id="pickup_date" name="pickup_date" placeholder="Indtast Pick-up dato (åååå-mm-dd" required>
        </div>
        <div class="form-group">
            <label for="dropoff_date"><b>Drop-off dato</b></label>
            <input type="date" class="form-control" id="dropoff_date" name="dropoff_date" placeholder="Indtast Drop-off dato (åååå-mm-dd)" required>
        </div>
        <div class="form-group">
            <span th:each="accessory : ${accessories}">
                <input type="checkbox" th:id="${accessory}" name="accessories" th:value="${accessory}">
                <label th:for="${accessory}" th:text="${accessory}"></label><br>
            </span>
        </div>
        <!--spring security blocks post requests without a csrf token by default, so we provide one-->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-primary">Opret</button>
    </form>
</div>

<div th:replace="fragments/bottom_scripts"></div>
</body>
</html>