<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"></div>
    <title>Opret Reservation</title>
</head>
<body>
<div th:replace="fragments/navbar_owner"></div>

<div class="container">
    <br>
    <h1>Opret ny reservation</h1>
    <br>
    <form action="/reservation/create" method="post">
        <div class="form-group">
            <label for="location"><b>Lokation</b></label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Indtast lokation"  required>
        </div>
        <div class="form-group">
            <label for="pickup_date"><b>Pick-up dato</b></label>
            <input type="text" class="form-control" id="pickup_date" name="pickup_date" placeholder="Indtast Pick-up dato (åååå-mm-dd" required>
        </div>
        <div class="form-group">
            <label for="dropoff_date"><b>Drop-off dato</b></label>
            <input type="text" class="form-control" id="dropoff_date" name="dropoff_date" placeholder="Indtast Drop-off dato (åååå-mm-dd)" required>
        </div>
        <div class="form-group">
            <span th:each="accessory : ${accessories}">
                <input type="checkbox" th:id="${accessory}" name="chosen_accessories" th:value="${accessory}">
                <label th:for="${accessory}" th:text="${accessory}"></label><br>
            </span>
        </div>
        <!-- Hvis du stadig vil have det skal være en "dropdown" så kan du fortsætte herfra. -->
        <!--<div class="form-group">
            <label for="accessories"><b>Tilbehør til rejsen</b></label>
            <select id="accessories" name="allAccessories" multiple required>
                <option value="" selected hidden>Vælg tilbehør</option>
                <option th:each="accessory, iterStat : ${accessories}" th:value="${accessoriesEng[iterStat.index]}" th:text="${accessory}"}></option>
            </select>
        </div>-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div th:replace="fragments/bottom_scripts"></div>
</body>
</html>