<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/navbar_owner"></div>

<div class="container">
    <br>
    <h1>Opret ny reservation</h1>
    <br>
    <form action="/owner/reservation/create" method="post">
        <div class="form-group">
            <label for="reservation_id"><b>Reservations ID</b></label>
            <input type="text" class="form-control"  id="reservation_id" name="reservation_id" placeholder="Indtast ID" required>
        </div>
        <div class="form-group">
            <label for="location"><b>Lokation</b></label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Indtast lokation" required>
        </div>
        <div class="form-group">
            <label for="pickup_date"><b>Pick-up dato</b></label>
            <input type="text" class="form-control" id="pickup_date" name="pickup_date" placeholder="Indtast Pick-up dato (åååå-mm-dd" required>
        </div>
        <div class="form-group">
            <label for="dropoff_date"><b>Drop-off dato</b></label>
            <input type="text" class="form-control" id="dropoff_date" name="dropoff_date" placeholder="Indtast Drop-off dato (åååå-mm-dd)" required>
        </div>
        <div class="form-group">
            <label for="accessories"><b>Tilbehør til rejsen</b></label>
            <input type="text" class="form-control" id="accessories" name="accessories" placeholder="Vælg tilbehør" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>




<div th:replace="fragments/bottom_scripts"></div>
</body>
</html>