<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/index">Nordic Motorhome Rentals
        <img src="/img/motorhome.jpg" width="60" height="40" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kunder <span class="sr-only">Kunder</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/customer/overview">Oversigt</a>
                    <a class="dropdown-item" href="/customer/create">Opret Kunde</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reservationer <span class="sr-only">Reservationer</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="/reservation/overview">Oversigt</a>
                    <a class="dropdown-item" href="/reservation/create">Opret Reservation</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Autocampere <span class="sr-only">Autocampere</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                    <a class="dropdown-item" href="/motorhome/overview">Oversigt</a>
                    <a class="dropdown-item" href="/motorhome/create">Opret Autocamper</a>
                </div>
            </li>
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
            <a class="nav-link" href="/logout" onclick="return confirm('Er du sikker på du vil logge ud?')"><button class="btn btn-danger navbar-btn">Logout</button></a>
        </li>
    </ul>
</nav>