<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">Nordic Motorhome Rentals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kunder <span class="sr-only">Kunder</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/owner/customer/overview">Oversigt</a>
                            <a class="dropdown-item" href="/owner/customer/create">Opret Kunde</a>
                            <a class="dropdown-item" href="/owner/customer/edit">Rediger Kunde</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reservations <span class="sr-only">Reservations</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="/owner/reservation/overview">Oversigt</a>
                            <a class="dropdown-item" href="/owner/reservation/create">Opret Reservation</a>
                            <a class="dropdown-item" href="/owner/reservation/edit">Rediger Reservation</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Autocampere <span class="sr-only">Autocampere</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="/owner/motorhome/overview">Oversigt</a>
                            <a class="dropdown-item" href="/owner/motorhome/create">Opret Autocamper</a>
                            <a class="dropdown-item" href="/owner/motorhome/edit">Rediger Autocamper</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Medarbejdere <span class="sr-only">Medarbejdere</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="/owner/employee/overview">Oversigt</a>
                            <a class="dropdown-item" href="/owner/employee/create">Opret Medarbejder</a>
                            <a class="dropdown-item" href="/owner/employee/edit">Rediger Medarbejder</a>

                        </div>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="/" onclick="return confirm('Are you sure you want to log out?')"><button class="btn btn-danger navbar-btn">Logout</button></a>
                </li>
            </ul>
        </nav>