<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/head"></div>
    <title>Opret Ansat</title>
</head>
<body>
<div sec:authorize="hasRole('ADMIN')" th:replace="fragments/navbar_owner"></div>

<div class="container">
    <br>
    <h1>Opret ny ansat</h1>
    <br>
    <form action="/medarbejder/opret" method="post">
        <div class="form-group">
            <label for="firstname"><b>Fornavn</b></label>
            <input type="text" class="form-control"  id="firstname" name="first_name" placeholder="Indtast medarbejder fornavn" pattern="(?:[a-zA-ZæøåÆØÅöÖäÄüÜß-]\s?)+" required>
        </div>
        <div class="form-group">
            <label for="lastname"><b>Efternavn</b></label>
            <input type="text" class="form-control" id="lastname" name="last_name" placeholder="Indtast medarbejder efternavn" pattern="[a-zA-ZæøåÆØÅöÖäÄüÜß,'-]+" required>
        </div>
        <div class="form-group">
            <label for="cpr"><b>CPR</b></label>
            <input type="text" class="form-control" id="cpr" name="cpr" placeholder="Indtast medarbejder CPR" pattern="[0-9]{6}-?[0-9]{4}" title="Format: xxxxxx-xxxx" required>
        </div>
        <div class="form-group">
            <label for="Role"><b>Stilling</b></label>
            <select id="Role" name="job_title" required>
                <!-- Drop down menu of all job titles -->
                <option value="" selected hidden>Vælg en stilling</option>
                <option th:each="job : ${jobs}" th:value="${job}" th:text="${job}"}></option>
            </select>
        </div>
        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Indtast medarbejder Email" required>
        </div>
        <div class="form-group">
            <label for="phoneNumber"><b>Telefon</b></label>
            <input type="text" class="form-control" id="phoneNumber" name="phonenumber" placeholder="Indtast medarbejder telefonnummer" pattern="(?:[0-9]{2}-?){3}[0-9]{2}" title="Format: 8 cifre, med eller uden bindestreg" required>
        </div>
        <div class="form-group">
            <label for="enrollmentdate"><b>Ansættelsesdato</b></label>
            <input type="date" class="form-control" id="enrollmentdate" name="employment_date" required>
        </div>
        <!--spring security blocks post requests without a csrf token by default, so we provide one-->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-primary">Opret</button>
    </form>
</div>

<div th:replace="fragments/bottom_scripts"></div>
</body>
</html>