<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"></div>
    <title>Rediger Ansat</title>
</head>
<body>
<div th:replace="fragments/navbar_owner"></div>

<div class="container">
    <br>
    <h1>Rediger ansat</h1>
    <br>
    <form action="/employee/edit" method="post">
        <input type="hidden" name="employee_id" th:value="${employee.employee_id}">
        <div class="form-group">
            <label for="firstname"><b>Fornavn</b></label>
            <input type="text" class="form-control"  id="firstname" name="first_name" th:value="${employee.first_name}" pattern="[\p{L}]+" required>
        </div>
        <div class="form-group">
            <label for="lastname"><b>Efternavn</b></label>
            <input type="text" class="form-control" id="lastname" name="last_name" th:value="${employee.last_name}" pattern="[\p{L}]+" required>
        </div>
        <div class="form-group">
            <label for="cpr"><b>CPR</b></label>
            <input type="text" class="form-control" id="cpr" name="cpr" th:value="${employee.cpr}" pattern="[0-9]{6}-[0-9]{4}" required>
        </div>
        <div class="form-group">
            <label for="role"><b>Stilling</b></label>
            <!-- Drop down menu of all job titles with current one preselected -->
            <select id="role" name="job_title">
                <option th:each="job : ${jobs}" th:value="${job}" th:text="${job}" th:selected="${job==employee.job_title}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input type="email" class="form-control" id="email" name="email" th:value="${employee.email}" required>
        </div>
        <div class="form-group">
            <label for="phoneNumber"><b>Telefon</b></label>
            <input type="text" class="form-control" id="phoneNumber" name="phonenumber" th:value="${employee.phonenumber}" pattern="[0-9]{8}" required>
        </div>
        <div class="form-group">
            <label for="enrollmentdate"><b>Ansættelsesdato</b></label>
            <input type="date" class="form-control" id="enrollmentdate" name="employment_date" th:value="${employee.employment_date}" required>
        </div>
        <button type="submit" class="btn btn-primary">Opdater</button>
    </form>
</div>

<div th:replace="fragments/bottom_scripts"></div>
</body>
</html>