<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/head"></div>
    <title>Tilbehørs Oversigt</title>
</head>
<body>
<div sec:authorize="hasRole('ADMIN')" th:replace="fragments/navbar_owner"></div>
<div sec:authorize="hasRole('LEAD')" th:replace="fragments/navbar_lead"></div>
<div sec:authorize="hasRole('SALES')" th:replace="fragments/navbar_employee"></div>

<div class="container">
    <table data-toggle="table" data-search="true">
        <thead>
            <tr>
                <th scope="col" data-sortable="true">Navn</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="accessory : ${accessories}">
                <td th:text="${accessory.accessory_name}"></td>
                <td>
                    <a th:href="@{'/autocamper/tilbehoer/rediger/' + ${accessory.accessory_id}}"><button type="button" class="btn btn-success">Rediger</button></a>
                    <a th:href="@{'/autocamper/tilbehoer/slet/' + ${accessory.accessory_id}}" onclick="return confirm('Er du sikker på at du vil slette dette tilbehør?');"><button type="button" class="btn btn-danger">Slet</button></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <br>
    <h2>Opret nyt tilbehør</h2>
    <br>
    <form action="/autocamper/tilbehoer/opret" method="post">
        <div class="form-group">
            <label for="accessory_name"><b>Navn</b></label>
            <input type="text" class="form-control"  id="accessory_name" name="accessory_name" placeholder="Indtast tilbehørets navn" pattern="(?:[a-zA-ZæøåÆØÅöÖäÄüÜß-]\s?)+" size="50" required>
        </div>
        <!--spring security blocks post requests without a csrf token by default, so we provide one-->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-primary">Opret</button>
    </form>
</div>

<div th:replace="fragments/bottom_scripts"></div>
</body>
</html>