<!--Lavet af Emil-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div sec:authorize="hasRole('ADMIN')" th:replace="fragments/navbar_owner"></div>
<div sec:authorize="hasRole('LEAD')" th:replace="fragments/navbar_lead"></div>
<div sec:authorize="hasRole('SALES')" th:replace="fragments/navbar_employee"></div>
<div sec:authorize="hasRole('BOOKKEEPER')" th:replace="fragments/navbar_bookkeeper"></div>

<img src="/img/motorhomeindex.jpg" width="100%" height="100%">

<div th:replace="fragments/bottom_scripts"></div>
</body>
</html>