<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"></div>
    <title>Opret kunde</title>
</head>
<body>
<div th:replace="fragments/navbar_owner"></div>

<div class="container">
    <br>
    <h1>Opret ny kunde</h1>
    <br>
    <form action="/customer/create" method="post">
        <div class="form-group">
            <label for="first_name"><b>Fornavn</b></label>
            <input type="text" class="form-control"  id="first_name" name="first_name" placeholder="Indtast kundens fornavn" pattern="[\p{L}]+" required>
        </div>
        <div class="form-group">
            <label for="last_name"><b>Efternavn</b></label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Indtast kundens efternavn" pattern="[\p{L}]+" required>
        </div>
        <div class="form-group">
            <label for="user_name"><b>Brugernavn</b></label>
            <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Indtast kundens brugernavn" pattern="[A-Za-z-0-9]+" required>
        </div>
        <div class="form-group">
            <label for="signup_date"><b>Tilmeldelsesdato</b></label>
            <input type="date" class="form-control" id="signup_date" name="signup_date" placeholder="Indtast kundens tilmeldelsesdato (åååå-mm-dd)" required>
        </div>
        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Indtast kundens email" required>
        </div>
        <div class="form-group">
            <label for="phonenumber"><b>Telefonnummer</b></label>
            <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Indtast kundens telefonnummer" pattern="[0-9]{8}" required>
        </div>
        <button type="submit" class="btn btn-primary">Opret</button>
    </form>
</div>

<div th:replace="fragments/bottom_scripts"></div>
</body>
</html>