<!--Lavet af Emil-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/head"></div>
    <title>Opret Kunde</title>
</head>
<body>
<div sec:authorize="hasRole('ADMIN')" th:replace="fragments/navbar_owner"></div>
<div sec:authorize="hasRole('LEAD')" th:replace="fragments/navbar_lead"></div>
<div sec:authorize="hasRole('SALES')" th:replace="fragments/navbar_employee"></div>

<div class="container">
    <br>
    <h1>Opret ny kunde</h1>
    <br>
    <form action="/kunde/opret" method="post">
        <div class="form-group">
            <label for="first_name"><b>Fornavn</b></label>
            <input type="text" class="form-control"  id="first_name" name="first_name" placeholder="Indtast kundens fornavn" pattern="(?:[a-zA-ZæøåÆØÅöÖäÄüÜß-]\s?)+" required>
        </div>
        <div class="form-group">
            <label for="last_name"><b>Efternavn</b></label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Indtast kundens efternavn" pattern="[a-zA-ZæøåÆØÅöÖäÄüÜß'-]+" required>
        </div>
        <div class="form-group">
            <label for="user_name"><b>Brugernavn</b></label>
            <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Indtast kundens brugernavn" pattern="[A-Za-zæøåÆØÅöÖäÄüÜß0-9_-]+" title="Format: Bogstaver, tal, '_' og '-' tilladt" required>
        </div>
        <div class="form-group">
            <label for="signup_date"><b>Tilmeldelsesdato</b></label>
            <input type="date" class="form-control" id="signup_date" name="signup_date" placeholder="Indtast kundens tilmeldelsesdato (åååå-mm-dd)" required>
        </div>
        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Indtast kundens email" required>
        </div>
        <div class="form-group">
            <label for="phonenumber"><b>Telefonnummer</b></label>
            <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Indtast kundens telefonnummer" pattern="(?:[0-9]{2}-?){3}[0-9]{2}" title="Format: 8 cifre, med eller uden bindestreg" required>
        </div>
        <!--spring security blocks post requests without a csrf token by default, so we provide one-->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-primary">Opret</button>
    </form>
</div>

<div th:replace="fragments/bottom_scripts"></div>
</body>
</html>