<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"></div>
    <title>Rediger kunde</title>
</head>
<body>
<div th:replace="fragments/navbar_owner"></div>

<div class="container">
    <br>
    <h1>Opdater kunde</h1>
    <br>
    <form action="/customer/edit" method="post">
        <input type="hidden" name="id" th:value="${customer.customer_id}">
        <div class="form-group">
            <label for="first_name"><b>Fornavn</b></label>
            <input type="text" class="form-control" id="first_name" name="first_name" th:value="${customer.first_name}" pattern="[A-Za-z-']+" required>
        </div>
        <div class="form-group">
            <label for="last_name"><b>Efternavn</b></label>
            <input type="text" class="form-control" id="last_name" name="last_name" th:value="${customer.last_name}" pattern="[A-Za-z-']+" required>
        </div>
        <div class="form-group">
            <label for="user_name"><b>Brugernavn</b></label>
            <input type="text" class="form-control" id="user_name" name="user_name" th:value="${customer.user_name}" pattern="[A-Za-z-0-9]+" required>
        </div>
        <div class="form-group">
            <label for="signup_date"><b>Tilmeldelsesdato</b></label>
            <input type="date" class="form-control" id="signup_date" name="signup_date" th:value="${customer.signup_date}" required>
        </div>
        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input type="email" class="form-control" id="email" name="email" th:value="${customer.email}" required>
        </div>
        <div class="form-group">
            <label for="phonenumber"><b>Telefonnummer</b></label>
            <input type="text" class="form-control" id="phonenumber" name="phonenumber" th:value="${customer.phonenumber}" pattern="[0-9]{8}" required>
        </div>
        <button type="submit" class="btn btn-primary">Opdater</button>
    </form>
</div>

<div th:replace="fragments/bottom_scripts"></div>
</body>
</html>