<!--Lavet af Daniel-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/head"></div>
    <title>Autocamper Oversigt</title>
</head>
<body>
<div sec:authorize="hasRole('ADMIN')" th:replace="fragments/navbar_owner"></div>
<div sec:authorize="hasRole('LEAD')" th:replace="fragments/navbar_lead"></div>
<div sec:authorize="hasRole('SALES')" th:replace="fragments/navbar_employee"></div>

<div class="container-fluid">
    <table data-toggle="table" data-search="true">
        <thead>
            <tr>
                <th scope="col">Billede</th>
                <th scope="col" data-sortable="true">Mærke</th>
                <th scope="col" data-sortable="true">Model</th>
                <th scope="col" data-sortable="true">Pris per dag</th>
                <th scope="col" data-sortable="true">Senge</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="motorhome : ${motorhometypes}">
                <td><img th:src="@{${'../img/' + motorhome.file_path}}" th:alt="${motorhome.file_path}" height="100px" width="140px"></td>
                <td th:text="${motorhome.brand}"></td>
                <td th:text="${motorhome.model}"></td>
                <td th:text="${motorhome.price + ' kr'}"></td>
                <td th:text="${motorhome.beds}"></td>
                <td>
                    <a th:href="@{'/autocamper/detaljer/' + ${motorhome.motorhometype_id}}"><button type="button" class="btn btn-info">Se vogne</button></a>
                    <a th:href="@{'/autocamper/rediger/type/' + ${motorhome.motorhometype_id}}"><button type="button" class="btn btn-success">Rediger</button></a>
                    <a th:href="@{'/autocamper/slet/type/' + ${motorhome.motorhometype_id}}"
                       onclick="return confirm('Er du sikker på du vil slette alle autocampere af denne type?');"><button type="button" class="btn btn-danger">Slet</button></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/bottom_scripts"></div>
</body>
</html>